body
{ background-color : white; background-image: url(logoEK.png); background-repeat: no-repeat; background-position: top right;}
#position
{width: 800px;margin: 0 auto;background-color: red;text-align: center;align-content: center; color: gray;}
#hello
{font-family: arial; width: 1000px; color: blue; margin: 0 auto; background-image: url(imagesJVESABAT.jpg) }
#debut
{
    Width : 800px;
    margin: 0 auto;
    text-align: center;
    background-color:yellow;
}
/*Pour mettre une couleur sur le lien *//*d'un lien jamais visité*/
a:link 
{
    color : green;
    text-decoration:underline;
}
/*pour mettre une couleur sur un lien deja visite*/
a:visited {color: gray;text-decoration: underline;}

/*Quand on survol un lien*/
a:hover{color:blue;text-decoration: none;}

table
{
    width: 800px;    margin: 0 auto;    color: yellow;    background-color: white;    background-image: url();    padding: 50px;    border : medium solid;  border-collapse: collapse;
}
th
{
    width: 800px;    color:red;    background-color: blue;
}
td
{
    color: blue;    background-color: gray ; border:thin solid red
}
p2
{
    width: 800px
}
#nao
{
    background-image: url(imagesJVESABAT.jpg)
}
#alignee
{
     Width : 1000px;     margin: 5 auto;   text-align: right; 
}
.fondvert{
    background-color:lime;
}
#titrebag{
    background-color: black;
    color: white;
    font-size: 200%;
}
:required{
    border: 2pd dotted orange;
}
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 600px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px; /* même taille que les étiquettes */
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}
 
#couleurr
{
    
    background-color: green;
    }
 h1
 {
	color: red;
	margin:0 auto;
	text-align: center;
 }
 
 
 
 